/* PAGINA PRINCIPAL */
.seccion{      
    padding-bottom: 280px;
    a {
        color: #389e40;
        letter-spacing: 2px;
        text-decoration: none;
        transition: 0.2s;
        background-color: transparent;
        font-size: 100px;
        }
        div:hover {
            background: #fffafa;
            box-shadow: 0 0 0px #4ad455, 0 0 0px #4ad455, 0 0 0px #4ad455;
            }
        .container .row h1{
            font-family: 'Mukta', sans-serif;
            font-size: 30px;
            text-align: left;
            .navbar-expand-lg .collapse .navbar-nav .nav-item a {
                font-family: 'Lora', serif;
                font-size: 30px;
                .row .icono {
                    width: 150px;
                    height: 150px;
                    margin-left: 565px;
                    margin-bottom: 100px;
                    .row .col a {
                        margin-left: 45px;
            img {
                font-size: 30px;
            }
                    }}}}
    }