
body {
    font-family: sans-serif;
}

.seccion{      
    padding-bottom: 280px;
} 
.seccion a {
    color: #389e40;
    letter-spacing: 2px;
    text-decoration: none;
    transition: 0.2s;
    background-color: transparent;
    }
.seccion div:hover {
    background: #fffafa;
    box-shadow: 0 0 0px #4ad455, 0 0 0px #4ad455, 0 0 0px #4ad455;
    }
.header {
    padding-bottom: 340px;
}
.seccion h1 {
    padding-top: 5px; 
    padding-bottom: 85px;
    text-align: center;
    }
.borde {
    border-bottom: solid 3 px black;
}
.row  h1 {
    font-size: 25px;
}
.col img:hover {
    color: black;
    transition: 0.2s;
}
.col a:hover {
    color: black;
    transition: 0.2s;
}
.pie .nav .nav-link1 {
    font-size: 20px;
}
/* LOGIN ¨*/
.registro .login-caja {
    margin: 0;
    padding: 0;
    background: url(../imagen/imagenwinos.jpg) no-repeat center top ;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
}

@media only screen and (min-width: 481px) and (max-width: 1023px){
body {
    background: green;
}}

@media only screen and (max-width: 480px){
    body {
        background: blue;
    }}

