
body {
    font-family: Geneva, sans-serif;
    padding: 0;
    margin: 0;
    text-align: center;
}
#navbarNav {
    background-color: #77ad77;
    margin: 20px -12px 20px -12px;
    padding: 10px 400px
}
.collapse .navbar-nav li{
    text-align: center;
}
.iconox {
    padding-left: 30px;
}
.iconow {
    padding-bottom: 80px;
}
.header {
    border-bottom: 6px solid #107C10;
}
.col2 {
    margin-top: 80px;
}
.seccion{     
    border-bottom: 6px solid #107C10;
    padding-bottom: 60px;
} 
.seccion a {
    color: #389e40;
    letter-spacing: 2px;
    text-decoration: none;
    transition: 0.2s;
    background-color: transparent;
    }
.seccion div:hover {
    background: #fffafa;
    box-shadow: 0 0 0px #4ad455, 0 0 0px #4ad455, 0 0 0px #4ad455;
    }
.header {
    padding-bottom: 70px;

}
.seccion h1 {
    color: #107C10;
    font-size: 480%; 
    padding: 70px 20px 70px 20px;
    text-decoration:underline;
    margin-bottom: 80px;
    }
.video {
    margin-top: 58px;
}
.pie .nav .nav-link1 {
    font-size: 20px;
}
.container .navbar-expand-lg .collapse .navbar-nav .nav-item a {
    font-family: 'Lora', serif;
    font-size: 30px;
}
.seccion .container .solo .icono {
    width: 150px;
    height: 150px;
    margin-left: 565px;
    margin-bottom: 100px;
}
.borde .container .solo .col a {
    margin-left: 45px;

}
.main-header{
    position: relative;
}
.menu{
    position: absolute;
    bottom: 28%;
    left: 14%;
    font-size: 35px;
    border-radius: 4px;
    color: white;
}

.main-header2 {
    position: relative;
}
.tienda {
  position: absolute;
  bottom: 40%;
  left: 20%;
  font-size: 40px;
  border-radius: 4px;
  color: white;
}
.main-header3 {
    position: relative;
}
.menu1 {
    position: absolute;
    bottom: 31%;
    left: 16%;
    font-size: 40px;
    border-radius: 4px;
    color: white;
}
.pie {
    padding: 10px;
    margin-top: 70px;
}
@media only screen and (min-width: 481px) and (max-width: 1023px){
body {
    text-align: center;
}}

@media only screen and (max-width: 480px){
    body {
        text-align: center;
    }}
    

.btn {
    border-radius: 4px;
    display: inline-block;
    padding: 15px 15px;
    text-shadow: 0px 1px;
}
.btn-green{
    background-color: #107C10;
}